
<h1>
    Categories
</h1>
<form method="post">
    {% csrf_token %}
    <button name="submit" value="add_new">Add new</button>
</form>
<table>
    <tr>
        <th>Category</th>
        <th>Budgeted</th>
        <th><a href="{% url 'summary' %}">Spent</a></th>
        <th>Balance</th>
    </tr>
    {% for category in category_records %}
    <tr>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ category.category_id }}" />
            <td>
                <input type="text" name="name" value="{{ category.category_name }}" />
            </td>
            <td>
                <input type="number" name="budgeted" value="{{ category.budgeted }}" />
            </td>
            <td>
                <a href="{% url 'summary' %}" >{{ category.spent }}</a>
            </td>
            <td>
                {{ category.balance }}
            </td>
            <td>
                <button name="submit" value="save">Save</button>
            </td>
            <td>
                <button name="submit" value="delete">Delete</button>
            </td>
        </form>
    </tr>
    {% endfor %}
</table>

